{% load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>All Meetups</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'meetups/styles/base.css'%}">
        <link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css'%}">
    </head>
    <body>
        <header id="main-header">
            <nav>
                <a href="/meetups" id="main-logo">Django Meetups</a>
            </nav>
            <h1>We have great meetup events coming up!</h1>
            <p>Find the meetup that best suit your needs</p>
        </header>
        <main>
            <section>
                <h2>
                    Upcoming Meetups
                </h2>
                <ol>
                    {% for meetup in meetups%}
                    <li class="meetup-item">
                        <article>
                            <div class="meetup-summary">
                                <div class="meetup-image">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="meetup-details">
                                <h3>
                                    {{meetup.title}}
                                </h3>
                                <address>
                                    {{meetup.location}}
                                </address>
                            </div>
                            <div class="meetup-actions">
                                <a href="{% url 'meetup-detail' meetup.slug %}" class="btn">More Details</a>                                
                            </div>
                        </article>
                    </li>
                    {% endfor %}  
                    
                </ol>
            </section>
        </main>
        
    </body>
</html>