{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css'%}">
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css'%}">
    <title>{{title}}</title>
</head>
<body>
    <main>
        <article>
            <a href=""></a>
        </article>
        <section id="location">
            <h2>Meetup Location</h2>
            <address>
                This meetup takes place at <span>LOCATION</span>
                (ADDRESS).
            </address>
        
        </section>
    </main>
</body>
</html>