{% extends 'meetups/base/base.html'%}
{% load static%}

{%block title %}You Registered Successfully!{%endblock%}

{%block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css'%}">
{%endblock%}

{%block main_heading %}
Thanks for signing up
{%endblock%}

{%block body %}
<section id="confirmation">
    <h2>
        You Registered Successfully!
    </h2>
    <p>Thanks for signing up - see you at the meetup</p>
    <p>If you have questions or cannot make the meetup, please <a href="">contact the organiser</a> at least 3 days ahead of the meetup.</p>
</section>
<section id="continue">
    <p>ofcourse you can sign up for more than one meetup</p>
    <p><a href="/meetups">Explore our meetups</a>yp</p>

</section>

{%endblock%}