{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
    <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
</head>
<body>
    <form action="/" method="POST">
    <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
        {% csrf_token %}
        {{form.user_name.label_tag}}
        {{form.user_name}}
        {{form.user_name.errors}}
    </div>
    <div class="form-control {% if form.review.errors %}errors{% endif %}">
        {% csrf_token %}
        {{form.review.label_tag}}
        {{form.review}}
        {{form.review.errors}}
    </div>
    <div class="form-control {% if form.ratings.errors %}errors{% endif %}">
        {% csrf_token %}
        {{form.ratings.label_tag}}
        {{form.ratings}}
        {{form.ratings.errors}}
    </div>
        <button type="submit">Send</button>
    </form>
</body>
</html>