@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,100;1,200&display=swap");

html{   
    font-family: 'Ysabeau', sans-serif;
}

body
{
    margin: 0;
    background-color: #a8e0d1;

}